body {
	background: linear-gradient(-45deg, #6cee52, #3cb1e7, #3dbceb, #1cecbc);
	background-size: 500% 500%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.pfp{
  width: 250px;
 margin-left: 45%; 
 border-radius: 10%;

}
#portTitle{
justify-content: center;
margin-left: 42%;
}
.row{
  display: flex;
flex-direction: row;
flex-wrap: wrap;

}
.navBar{
  justify-content: center;
  text-decoration: underline;
  font-size: x-large;
  background-size:auto;
  
  
}
.titles{
position:relative;
margin-left: 10%;
flex-direction: column;
color: darkgreen;
font-size: 60px;
width: max-content;

}
.bio{
  margin-left:28%;
  font-size: 25px;
}
.column{
  display: flex;
  flex-direction: column;
  border-right: thick green;
  border-style: dotted;
  border-top: rgb(0,0,0,0);
  border-bottom: rgb(0,0,0,0);
  border-left: rgb(0,0,0,0);
}

.workPic{
  width: 250px;
  height: 275px;
  justify-content: center;
}
  
.picText{
  margin-left: 5%;
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
.picText2{
  margin-left: 6%;
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.picText3{
  margin-left: 7%;
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.workPic:hover{
  box-shadow: inset 0px 0px 8px rgba(12, 107, 231, 0.897), 0 0 15px rgb(12, 107, 231);
 
}

.picCon{
  padding-left: 35%;
  justify-content: space-between;
  
}